.atten{
    flex: 1;
    justify-content: space-between;
    margin: 20px;
    margin-top: 0;
    margin-right: 10px;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 300px;

    .title {
        font-weight: bold;
        font-size: 14px;
        color: rgb(160, 160, 160);
    }

    .widget {
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin: 10px;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: 110px;
    
        .left,
        .center,
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .title {
                font-weight: bold;
                font-size: 14px;
                color: rgb(160, 160, 160);
            }
            
            .location {
                margin-top: 5px;
                font-weight: bold;
                font-size: 14px;
                color: rgb(41, 41, 41);
            }
    
            .att_date{
                font-size: 28px;
                font-weight: 300;

                .att_time{
                    font-size: 18px;
                    font-weight: 0;
                }
            }
        }
    }
}

.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;

    .left,
    .center,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
            color: rgb(160, 160, 160);
        }
        
        .counter {
            font-size: 28px;
            font-weight: 300;
        }
        

        .link{
            width: max-content;
            font-size: 12;
            border-bottom: 1px solid gray;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: green;
            }
            &.nagative{
                color: red;
            }
        }

        .icon{
            font-size: 40px;
            padding: 5px;
            background: rgba(0, 0, 0, 0.47);
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}

.charts{
    flex: 1;
    justify-content: space-between;

    .widget {
        display: flex;
        justify-content: space-between;
        flex: 1;
        margin: 20px;
        margin-left: 10px;
        margin-top: 0;
        padding: 10px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        border-radius: 10px;
        height: 140px;
    
        .left{
            width: 100%;
        }

        .left,
        .center,
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .title {
                font-weight: bold;
                font-size: 14px;
                color: rgb(160, 160, 160);
            }
            
            .location {
                margin-top: 5px;
                font-weight: bold;
                font-size: 14px;
                color: rgb(41, 41, 41);
            }
            
            .date_box{
                display: flex;
                justify-content: space-between;
                

                .att_date{
                    font-size: 28px;
                    font-weight: 300;
                }

                .time_box{
                    font-size: 28px;
                    font-weight: 300;

                    .title{
                        margin-top: 12px;
                        font-weight: bold;
                        font-size: 14px;
                        color: rgb(160, 160, 160);
                    }
                }

            }

            .progressbar{
                width: 100%;
            }
        }
    }
}

