.home {
    display: flex;

    .homeContainer {
        flex: 6;
    }

    .widgets {
        display: flex;
        padding: 20px;
        gap: 20px;

        .unity {
            width : 1600px;
            height: 900px;
            border-radius: 15px;
        }:hover{
            
        }
    }
}